# See: https://gitlab.com/cty3000/docker-xcaddy/-/ci/lint
image: docker:stable

services:
  - name: docker:dind

variables:
  IMAGE_NAME: xcaddy
  LOCAL_HOST: localhost
  CONTAINER_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  BUILDX_VERSION: "v0.6.1"
  BUILDX_ARCH: "linux-amd64"
  VERSION: v0.2.0

stages:
  - build
  - test
  - deploy

build_linux_amd64:
  stage: build
  variables:
    ARCH: linux_amd64
    PLATFORM: linux/amd64
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
    - wget -O /usr/bin/docker-buildx
      https://github.com/docker/buildx/releases/download/${BUILDX_VERSION}/buildx-${BUILDX_VERSION}.${BUILDX_ARCH}
    - chmod +x /usr/bin/docker-buildx
  script:
    - docker pull $CONTAINER_IMAGE:latest_${ARCH} || true
    - docker-buildx create --use
    - docker-buildx build
      --platform ${PLATFORM}
      --build-arg VERSION=${VERSION}
      --cache-from $CONTAINER_IMAGE:test_${ARCH}
      --cache-from $CONTAINER_IMAGE:latest_${ARCH}
      --tag $CONTAINER_IMAGE:test_${ARCH}
      --push
      .

build_linux_arm_v7:
  stage: build
  variables:
    ARCH: linux_arm_v7
    PLATFORM: linux/arm/v7
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
    - wget -O /usr/bin/docker-buildx
      https://github.com/docker/buildx/releases/download/${BUILDX_VERSION}/buildx-${BUILDX_VERSION}.${BUILDX_ARCH}
    - chmod +x /usr/bin/docker-buildx
  script:
    - docker pull $CONTAINER_IMAGE:latest_${ARCH} || true
    - docker-buildx create --use
    - docker-buildx build
      --platform ${PLATFORM}
      --build-arg VERSION=${VERSION}
      --cache-from $CONTAINER_IMAGE:test_${ARCH}
      --cache-from $CONTAINER_IMAGE:latest_${ARCH}
      --tag $CONTAINER_IMAGE:test_${ARCH}
      --push
      .

test:
  stage: test
  variables:
    ARCH: linux_amd64
    PLATFORM: linux/amd64
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
    - mkdir -p ~/.docker/cli-plugins/
    - wget -O ~/.docker/cli-plugins/docker-compose https://github.com/docker/compose-cli/releases/download/v2.0.0-rc.1/docker-compose-linux-amd64
    - chmod +x ~/.docker/cli-plugins/docker-compose
  script:
    - docker compose -p test -f tests/docker-compose.yml up -d
    - sleep 3
    - docker logs test_${IMAGE_NAME}_1 || true
    - docker ps --filter "name=test_${IMAGE_NAME}_1" -a | grep "Up"

deploy_linux_amd64:
  stage: deploy
  variables:
    ARCH: linux_amd64
    PLATFORM: linux/amd64
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  script:
    - docker pull $CONTAINER_IMAGE:test_${ARCH}
    - docker tag $CONTAINER_IMAGE:test_${ARCH} $CONTAINER_IMAGE:${VERSION}_${ARCH}
    - docker tag $CONTAINER_IMAGE:test_${ARCH} $CONTAINER_IMAGE:latest_${ARCH}
    - docker push $CONTAINER_IMAGE:${VERSION}_${ARCH}
    - docker push $CONTAINER_IMAGE:latest_${ARCH}

deploy_linux_arm_v7:
  stage: deploy
  variables:
    ARCH: linux_arm_v7
    PLATFORM: linux/arm/v7
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  script:
    - docker pull $CONTAINER_IMAGE:test_${ARCH}
    - docker tag $CONTAINER_IMAGE:test_${ARCH} $CONTAINER_IMAGE:${VERSION}_${ARCH}
    - docker tag $CONTAINER_IMAGE:test_${ARCH} $CONTAINER_IMAGE:latest_${ARCH}
    - docker push $CONTAINER_IMAGE:${VERSION}_${ARCH}
    - docker push $CONTAINER_IMAGE:latest_${ARCH}
